@import 'tailwindcss';

@config '../../tailwind.config.cjs';


@layer utilities {
  html {
    @apply bg-slate-900 text-white overflow-x-hidden;
  }
}

@layer components {
  article {
    .has-focused > code > span{
      @apply duration-300 transform blur-xs;
    }

    .has-focused > code > .focused{
      @apply blur-none;
    }

    .has-focused:hover > code > span{
      @apply duration-300 transform blur-none;
    }
  }

  pre {
    @apply static max-h-[600px] min-w-[56px] overflow-auto rounded-xl border border-slate-400 py-4 text-sm leading-loose;

    &:hover > .code-language{
      @apply duration-300 transform opacity-0;
    }

    &:hover > .copy-button{
      @apply duration-300 transform opacity-100;
    }

    .code-language {
      @apply absolute top-0 right-0 px-2 py-1 text-sm text-slate-400 bg-slate-900 rounded-bl duration-300 transform opacity-100;
    }

    .copy-button {
      @apply absolute top-0 right-0 px-2 py-1 text-sm text-slate-400 bg-slate-900 rounded-bl duration-300 transform opacity-0;

      &:hover {
        @apply duration-300 transform bg-slate-800;

        svg {
          @apply fill-slate-500 duration-300 transform;
        }
      }

      svg {
        @apply w-12 h-12 fill-slate-400 p-2;
      }
    }

    code {
      @apply w-full border grid;
    }

    > code {
        @apply whitespace-pre-wrap;
        counter-reset: line;

        >::before {
          counter-increment: line;
          content: counter(line);
          @apply mr-4 inline-block w-4 text-right;
        }

      .add{
        @apply bg-[#16322c];
      }

      .add::before{
        @apply text-emerald-400;
        content: '+';
      }
      
      .remove{
        @apply bg-[#311c22];
      }

      .remove::before{
        @apply text-rose-400;
        content: '-';
      }
      
      .line{
        @apply w-full p-1;
      }

      .highlighted{
        @apply bg-[#24272c];
      }

      .error{
        @apply bg-[#3c1e26];
      }

      .warning{
        @apply bg-[#3a3118];
      }

      .highlighted-word{
        @apply rounded bg-[#24272c] p-[2px];
      }
    }
  }
}