---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import me from '../../public/images/me.jpg'
---

<MainLayout title={"About"}>
    <div class="flex flex-col self-center prose prose-light h-screen"> 
        <h1 class="self-center">About Me</h1>
        <Image class="rounded-lg w-[400px] self-center" src={me} alt="me"/>
        <p class="">
            Hi, my name is Max Lewis. I am a recent computer science graduate from Lewis University.
            This blog is my place to get my thoughts out, you will find many blogs about movies, music, 
            coding, or anything that piques my interest! Find out more about me at my website.
            <a href="https://www.maxlewis.dev/">https://www.maxlewis.dev/</a> 
        </p>
    </div>
</MainLayout>
