---
const allPosts = await Astro.glob('../pages/posts/*.md')
---
<div class="flex w-full flex-col gap-4 items-center justify-center">
    {allPosts.map((post) => 
    <a class="text-white" href={post.url}>
        <div class="flex flex-col w-[90%] rounded-lg bg-slate-800 p-4 shadow-lg">
            <p class="text-3xl">{post.frontmatter.title}</p>
            <p>{post.frontmatter.description}</p>
        </div>
    </a>
    )}
</div>