---
const allPosts = await Astro.glob('../pages/posts/*.md')
---

{allPosts.map((post) => <a class="text-white" href={post.url}><div class="flex flex-col border-b w-full h-[10%]">{post.frontmatter.title}</div></a>)}
