---
import type { CollectionEntry } from 'astro:content';
import PostCard from '../components/PostCard.astro';
import Post from '../pages/post/[post].astro';
import Tag from './Tag.astro';
interface Props{
    posts: CollectionEntry<'posts'>[]
    tags: string[] | string
}
let { posts, tags } = Astro.props;
---

<div class="flex flex-row flex-wrap w-1/2 gap-2 self-center justify-center pb-12">{Array.isArray(tags) ? tags.map((tag: string) => 
    <Tag tag={tag}/>
) : <p>Posts Tagged with <span class="text-purple-900">#{tags}</span></p>}
</div>
<div class="w-full h-full items-center flex flex-col gap-4">
    {posts.map((post) => 
        <PostCard {...post.data} body={post.body} />
    )}
</div>