---
import { Image } from "astro:assets";
import logonb from '../../public/images/logonb.png'
import Home from "./icons/Home.astro";
import Info from "./icons/Info.astro";
---
<header class="flex flex-row w-full place-self-center justify-center fixed z-50 bg-slate-900 opacity-75 shadow-2xl ">
    <nav class="text-white flex flex-row justify-between w-1/2 h-1/2 items-center pt-3 pb-3">
        <a href="/"><Image class="ml-2" src={logonb} alt="logo" width={50}/></a>
        <div class="flex flex-row gap-8 sm:gap-16 md:mr-14 mr-4">
            <a href="/" class="group flex flex-row gap-2 items-center bg-slate-800 hover:bg-slate-500 pl-4 pr-4 pt-1 pb-1 rounded-full">
                <Home class="w-4 fill-slate-500 group-hover:fill-slate-300" />
                <p class="text-slate-300 group-hover:text-slate-100">Home</p>
            </a>
            <a href="/about"class="group flex flex-row gap-3 items-center bg-slate-800 hover:bg-slate-500 pl-4 pr-4 pt-1 pb-1 rounded-full">
                <Info class="w-4 fill-slate-500 group-hover:fill-slate-300" />
                <p class="text-slate-300 group-hover:text-slate-100">About</p>
            </a>
        </div>
    </nav>
</header>