---
import LinkedIn from "./icons/LinkedIn.astro";
import Twitter from "./icons/X.astro";
import Github from "./icons/Github.astro";
import RSS from "./icons/RSS.astro";
import Mail from "./icons/Mail.astro";
---
<div class="flex flex-row gap-6 items-center">
    <a class="link" href="https://www.linkedin.com/in/maximuslewis/" target="_blank" rel="noopener noreferrer">
        <LinkedIn class="w-6 h-6 fill-slate-300"/>
    </a>
    <a class="link" href="https://twitter.com/maxslewis" target="_blank" rel="noopener noreferrer">
        <Twitter class="w-6 h-6 fill-slate-300"/>
    </a>
    <a class="link" href="https://github.com/mslew" target="_blank" rel="noopener noreferrer">
        <Github class="w-6 h-6 fill-slate-300"/>
    </a>
    <a class="link" href="/rss.xml" target="_blank" rel="noopener noreferrer">
        <RSS class="w-6 h-6 fill-slate-300"/>
    </a>
    <a class="link" href="mailto:mlew3223@gmail.com" target="_blank" rel="noopener noreferrer">
        <Mail class="w-6 h-6 fill-slate-300"/>
    </a>
</div>

<style lang="postcss">
    .link {
        @apply border border-slate-300 p-2 rounded-xl hover:bg-slate-500;
    }
</style>