---
const { headings } = Astro.props;
interface heading {
    depth: number;
    slug: string;
    text: string;
}
---
<div class="flex flex-col gap-4 w-full border border-red-500">
    <p>Table of Contents</p>
    {headings.map((heading: heading) => 
        <div class="flex flex-row items-start gap-2 w-full" style={`padding-left: ${heading.depth * 15}px`}>
            <button onclick={`document.getElementById('${heading.slug}').scrollIntoView({ behavior: 'smooth' })`} class="text-slate-500 hover:text-white scroll-smooth">{heading.text}</button>
        </div>
    )}
</div>

<style>
    a {
        scroll-behavior: smooth;
    }
</style>