---
const { heading } = Astro.props;
---
<li class="flex flex-row items-start gap-2 w-full" style={`padding-left: ${heading.depth * 15}px`}>
    <button id={`ToC${heading.slug}`} 
            onclick={`document.getElementById('${heading.slug}').scrollIntoView({ behavior: 'smooth' })`} 
            class="text-slate-500 hover:text-white border-l pl-2">
            {heading.text}
    </button>
</li>
<ul class="flex flex-col gap-2">
    {heading.subheadings.map((subheading: any) => 
        <Astro.self heading={subheading} />
    )}
</ul>