---
type Props = {
    tag: { tag: string };
    count?: number;
    disabled?: string;
}
const { tag, count, disabled } = Astro.props;
---

<a class={`hover:text-purple-500 text-sm bg-gray-700 text-gray-300 p-3 rounded-2xl ${disabled}`} href={`/tag/${tag}`}># {tag.tag} {count ? `(${count})` : ""}</a>