---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<Head />
	</head>
	<body>
		<div class="flex flex-col justify-self-center justify-between w-screen h-full">
			<Nav/>
			<main class="flex flex-col pt-12 grow h-full w-full place-self-center"><slot/></main>
			<Footer />
		</div>
	</body>
</html>

<script>
	function setupPadding() {
		const header = document.querySelector('header');
		const main = document.querySelector('main');
		if (main) {
			const headerHeight = header ? header.offsetHeight : 0;
			main.style.paddingTop = `${headerHeight + 48}px`;
		}
	}
	document.addEventListener('astro:page-load', setupPadding)
    document.addEventListener('astro:after-swap', setupPadding)
</script>
